@{
    ViewData["Title"] = "MessageResult";
    Layout = "_LayoutLite";
}

<div class="card card-size-small mt-5">
    <div class="card header bg-secondary text-white">
        <div class="pt-2 px-2">
            <div class="float-start">
                <h4>訊息提示</h4>
            </div>
        </div>
    </div>
    <div class="card body p-2">
        <h5 class="text-danger">
            訊息內容：
        </h5>
        <br />
        <h5>
            @TempData["MessageText"]
        </h5>
        <br />
        <hr />
        @Html.ActionLink("返回登入頁", "Login", "Web", new { area = "" }, new { @class = "btn btn-primary" })
    </div>
</div>